.Btn {
  @apply h-[40px] my-auto mr-0.5 p-2.5 text-center float-left bg-button-background-number text-button-text-color;
  @apply hover:text-button-text-color-hover;

  width: calc(20% - 0.125rem);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.Btn:hover {
  /* color: #00415a; */
  border: solid #00415a;
  text-align: center;
}

.Btn:disabled {
  background-color: rgba(210, 210, 210, 0.2);
  pointer-events: none;
  cursor: disabled;
}

.Btn-operator,
.Btn-notImplemented {
  @apply bg-button-background-operator;
}

.Btn:active {
  transform: scale(0.97);
  background-color: #9a9a9a;
}

.Btn-equal {
  @apply bg-button-background-equal;
  color: #fff;
  font-size: 2rem;
}

.radix {
  margin-right: -6px;
  font-size: 0.9rem;
  top: -1em;
}
