.result {
  @apply text-textarea-color;
  display: block;
  width: 100%;
  height: 35px;
  overflow: hidden;
  border-color: transparent;
  background-color: rgba(254, 254, 254, 0.6);
  text-align: left;
  padding: 1rem 10px;
  white-space: nowrap;
  overflow-x: auto;
  font-size: 1.4rem;
}

.result::-webkit-scrollbar {
  background-color: transparent;
  height: 5px;
}

.result::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.result::-webkit-scrollbar-thumb {
  background: #444;
}

.result:focus {
  border-color: transparent;
}
