.Btn {
    width: calc(25% - 4px);
    height: 40px;
    margin: auto 2px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    box-sizing: border-box;
    font-size: 1.6rem;
    background-color: rgba(187,187,187, 1);
}

.Btn:hover {
    color: #00415a;
    border: solid #00415a;
    text-align: center;

}

.Btn-operator {
    background-color: rgba(167,167,167, 0.4);
}

.Btn:active {
    transform:scale(0.97);
    background-color: #9a9a9a;
}

.Btn-equal {
    color: #fff;
    font-size: 2rem;
    background-color: #009bd6;
}
